body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1347_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:18px;
  height:46px;
}
#u1347 {
  position:absolute;
  left:0px;
  top:116px;
  width:8px;
  height:36px;
  color:#333333;
}
#u1348 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:18px;
  height:37px;
}
#u1349 {
  position:absolute;
  left:0px;
  top:192px;
  width:8px;
  height:27px;
  color:#333333;
}
#u1350 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:18px;
  height:37px;
}
#u1351 {
  position:absolute;
  left:0px;
  top:255px;
  width:8px;
  height:27px;
  color:#333333;
}
#u1352 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:70px;
  height:20px;
}
#u1353 {
  position:absolute;
  left:259px;
  top:0px;
  width:60px;
  height:10px;
  color:#333333;
}
#u1354 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:382px;
  height:806px;
}
#u1355 {
  position:absolute;
  left:6px;
  top:6px;
  width:372px;
  height:796px;
  color:#333333;
}
#u1356 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:330px;
  height:578px;
}
#u1357 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:568px;
  color:#333333;
}
#u1358 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:80px;
  height:24px;
}
#u1359 {
  position:absolute;
  left:157px;
  top:66px;
  width:70px;
  height:14px;
  color:#333333;
}
#u1360 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:24px;
  height:24px;
}
#u1361 {
  position:absolute;
  left:185px;
  top:40px;
  width:14px;
  height:14px;
  color:#333333;
}
#u1362 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:82px;
  height:82px;
}
#u1363 {
  position:absolute;
  left:156px;
  top:704px;
  width:72px;
  height:72px;
  color:#333333;
}
#u1364 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1366 {
  position:absolute;
  left:33px;
  top:120px;
  width:318px;
  height:60px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:22px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1368 {
  position:absolute;
  left:43px;
  top:135px;
  width:30px;
  height:30px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_ann {
  position:absolute;
  left:66px;
  top:131px;
  width:1px;
  height:1px;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1370 {
  position:absolute;
  left:33px;
  top:183px;
  width:75px;
  height:75px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1372 {
  position:absolute;
  left:114px;
  top:183px;
  width:75px;
  height:75px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1374 {
  position:absolute;
  left:194px;
  top:183px;
  width:75px;
  height:75px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1376 {
  position:absolute;
  left:275px;
  top:183px;
  width:75px;
  height:75px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1378 {
  position:absolute;
  left:162px;
  top:138px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1379 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1380 {
  position:absolute;
  left:296px;
  top:630px;
  width:40px;
  height:40px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1382 {
  position:absolute;
  left:306px;
  top:640px;
  width:20px;
  height:20px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_ann {
  position:absolute;
  left:319px;
  top:636px;
  width:1px;
  height:1px;
}
